
html
{
        scroll-behavior: smooth;

}


/* navbar--------------------------------- */

#logo img
{
    display:block;
    margin-top: 12px;
    width: 30px;
    height: 30px;
}

.navbar{
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 100vw;
}
ul li a{ 

    margin: 0px 5px;
    padding: 0px 6px;
    color: rgb(239, 221, 221);
    font-size: 14px;
    text-decoration: none;
    font-family: serif;
    font-weight: bold;
    border-radius: 45px;
    cursor: pointer;

}
#welcomepara{
    font-size: 15px;
    margin: 6px 55px;
}
#firstsec::before{
    content: "";
    background: url(../img/fh1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 50vh;
    width: 100vw;
    /* padding: 82px 0px; */
    z-index: -1;
    opacity: 0.8;
         border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top:-180px;
}
#firstsec
{
    margin-top:40px;
    width: 395px;
    
}

#Services
{
    display: flex;
    flex-direction: column;
    margin-top: -50px;

    text-align: center;
    width:100vw;
    height: 750px;
    border: 2px solid rgba(212, 207, 207, 0.403);
    border-radius: 30px;
    background-color: #e1e0df36;
    margin-left: 0;
}

.Contact
{
    background-color: #e1e0df36;
    width: 100vw;
    height: 310px;
    border: 2px solid rgba(212, 207, 207, 0.403);
    border-radius: 30px;
    text-align: center;
    border-radius: 30px;
    margin-left: 0;
}
#add
{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 31px;
}

.welcome{
    width: 100vw;
    height: 300px;
    text-align: center;
    margin-top: 9px;
}

#cn
{
        font-size: 20px;
        font-weight: bold;
        color: black;
        margin-top: 48px;
        margin-right: 151px;
}
#email
{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 31px;
}
#footer
{
    font-size: 13px;
    width: 100vw;
    height: 40px;
    background-color: rgb(122, 140, 137);

    justify-content: center;
    color: aliceblue;
    text-align: center;
    padding: 2px;
}
.heading
{
    font-size: 1rem;
    width: 280px;
}
#Services #div1 img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin: 3px;
    padding: 3px;
}

#Services #div2 img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin: 3px;
    padding: 3px;
}

#Services #div3 img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin: 3px;
    padding: 3px;
}

#div1 {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    width: 400px;
    height: 210px;
    margin-right: auto;
    padding: 3px;
    border-radius: 5px;
    margin-top: 30px;
}

#div2 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 400px;
    height: 210px;
    padding: 3px;
    border-radius: 5px;
}

#div3 {
    overflow: hidden;
    display: flex;
    flex-direction:row-reverse;
    margin-right: auto;
    width: 400px;
    height: 210px;
    margin-bottom: 30px;
    padding: 3px;
    border-radius: 5px;
}

.heading {
    font-size: 2.0rem;
    background-color: #b8b0b0b8;
    color: black;
    width: 355px;
    margin: auto;
    /* margin-top: 15px; */
    border-radius: 33px;
}
